<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <application 
        android:usesCleartextTraffic="true" 
        tools:targetApi="28" 
        tools:ignore="GoogleAppIndexingWarning" 
        tools:replace="android:usesCleartextTraffic">
  <meta-data
    android:name="com.google.android.geo.API_KEY"
    android:value="YOUR_ANDROID_API_KEY" />
    </application>
</manifest>
